@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    font-family: poppins;
    background-color:#f0f0f0;
}

nav {
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

nav li {
  height: 65px;
}

nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  transition: all .3s ease;
}

nav a:hover {
  color: #969696; 
}

nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #969696;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width .3s;
}

.nav a:hover::after {
  width: 75%;
}

nav li:first-child {
  margin-right: auto;
}

.hideonmobile {
  font-size: large;
  font-weight: 600;
}

.nav-text {
  font-size: large;
  font-weight: 600;
}

.nav-brand {
  font-weight: 600;
  font-size: 20px;
}

.logo {
  padding-right: 0.7rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 150vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(245, 245, 245, 0.692);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menubutton {
  display: none;
}

.welcome{
    text-align: center;
    margin-left: flex;
    margin-right: flex;
    text-align: justify;
}

.big-welcome{
    margin-bottom:1rem;
    text-align: center;
}

.welcome-text{
    font-size: large;
    font-weight: 400;
    word-spacing: .2rem;
    line-height: 1.6;
    margin-left: 10rem;
    margin-right: 10rem;
}

.beans-welcome{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
}

.beans-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .beans-image {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 20px;
  }
  
  .beans-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
  }

  .recipe-title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 40px;
  }

  .recipe-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .recipe-card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }

  .recipe-card img{
    width: 100%;
    height: 200px;
  }

  .recipe-content{
    padding: 16px;
  }

  .recipe-content h3{
    font-size: 28px;
    margin-bottom: 8px;
  }

  .recipe-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    height: 200px;
  }

  .recipe-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #666;
    text-decoration: solid;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 16px;
  }

.detail-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .detail-image img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .detail-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detail-description p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .detail-Ingredients h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .detail-Ingredients ol {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .detail-step h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .detail-step ol {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 20px;
  }

hr{
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 1rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media(max-width: 1025px){
    .beans-info {
        grid-template-columns: 1fr;
    }

    .beans-detail{
        font-size: 17px;
    }
}

@media screen and (min-width: 768px){
    .hideonmobile{
        display: none;
    }
    .menubutton{
        display: block;
    }

    .logo{
        width: 50px;
        height: 40px;
    }

    .nav-brand{
        font-size: 17px;
    }

    .welcome-text{
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .beans-info {
        grid-template-columns: 1fr;
    }

    .beans-detail{
        font-size: 17px;
        width: 405px;
    }

    .recipe-title{
      font-size: 30px;
    }
}

@media(max-width: 600px){
    .welcome-text{
        font-size: medium;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .logo{
        width: 50px;
        height: 40px;
    }

    .nav-brand{
        font-size: 17px;
    }

    .big-welcome{
        font-size: 18px;
    }

    .beans-info {
        grid-template-columns: 1fr;
    }

    .detail-container {
        flex-direction: column;
        align-items: center;
      }
    
      .detail {
        max-width: 100%;
      }
    
      .detail-description {
        max-width: 100%;
      }
}

@media(max-width: 400px){
    .sidebar{
        width: 70%;
    }

    .welcome-text{
        font-size: small;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .big-welcome{
        font-size: 16px;
    }

    .beans-info {
        grid-template-columns: 1fr;
    }

    .beans-detail{
        font-size: 13px;
        width: 300px;
    }

    .beans-image{
        width: 200px;
        height: 150px;
    }

    .beans-welcome{
        font-size: 20px;
    }
}

@media screen and (min-width: 320px) {
  nav {
    padding: 0 2rem;
  }

  .menubutton {
    display: flex;
  }

  .hideonmobile {
    display: none;
  }

  .sidebar {
    gap: 2rem;
    width: 75%;
  }

  .sidebar .cross a {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .sidebar .nav-text a {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
  }

  .welcome-text {
    font-size: small;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .logo {
    width: 40px;
    height: 30px;
  }

  .nav-brand {
    font-size: 15px;
  }
}

@media screen and (min-width: 576px) {
  .logo {
    width: 50px;
    height: 40px;
  }

  .nav-brand {
    font-size: 17px;
  }

  .big-welcome {
    font-size: 18px;
  }

  .beans-text {
    font-size: 18px;
  }

  .sidebar {
    width: 50%;
  }

  .sidebar .nav-text a {
    font-size: 1.25rem;
  }

  .section-description h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .menubutton {
    display: none;
  }

  .navbar {
    display: flex;
    gap: 2rem;
  }

  .hideonmobile {
    display: flex;
  }

  .section-description h1 {
    font-size: 2.75rem;
  }
}