*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 65px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.hideonmobile{
    font-size: large;
    font-weight: 600;
}

.nav-text{
    font-size: large;
    font-weight: 600;
}

.nav-brand{
    font-weight: 600;
    font-size: 20px;
}

.logo{
    padding-right: 0.7rem;
}

.welcome{
    text-align: center;
    margin-left: flex;
    margin-right: flex;
    text-align: justify;
}

.big-welcome{
    margin-bottom:1rem;
    text-align: center;
}

.welcome-text{
    font-size: large;
    font-weight: 400;
    word-spacing: .2rem;
    line-height: 1.6;
    margin-left: 15rem;
    margin-right: 15rem;
}

.beans-info{
    margin-left: 15rem;
    margin-right: 15rem;
}

.beans-text{
    padding-bottom: 3rem;
}

.beans-detail{
    font-size: 20px;
    padding-bottom: 7%;
    line-height: 1.5;
}

.beans-image{
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    max-width: 25%;
    max-height:15%;
    
}

hr{
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(245, 245, 245, 0.692);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menubutton{
    display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 1rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media(max-width: 1300px){
    .welcome-text{
        margin-left: 8rem;
        margin-right: 8rem;
    }
}

@media(max-width:1024px){
    .beans-detail{
    margin-left: 1rem;
    margin-right: 1rem;
    }

    .beans-image{
        float: none;
    }
}

@media(max-width: 800px){
    .hideonmobile{
        display: none;
    }
    .menubutton{
        display: block;
    }
}

@media(max-width: 600px){
    .welcome-text{
        font-size: medium;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .logo{
        width: 50px;
        height: 40px;
    }

    .nav-brand{
        font-size: 17px;
    }

    .big-welcome{
        font-size: 18px;
    }

    .beans-text{
        font-size: 18px;
    }

    .beans-detail{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }

    .welcome-text{
        font-size: small;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .logo{
        width: 40px;
        height: 30px;
    }

    .nav-brand{
        font-size: 15px;
    }

    .big-welcome{
        font-size: 16px;
    }

    .beans-text{
        font-size: 15px;
    }

    .beans-detail{
        margin-left: 1%;
        margin-right: 10rem;
    }
}